langchain
langchain-community
langchain-groq
langchain-qdrant
langchain-text-splitters
langchain-tavily
langgraph
qdrant-client
fastembed
ragas==0.1.9
streamlit
tavily-python
pypdf
rank-bm25
beautifulsoup4
python-dotenv
pydantic
tiktoken
loguru
datasets==2.14.0
numpy==1.26.4
langchain-huggingface
sentence-transformers